.validation-wrong {
  color: red;
  margin: 5px;
  padding: 0.5rem;
  font-size: 12px;
}

.fa-exclamation-triangle,
.fa-check {
  padding-right: 5px;
}

.validation-check {
  color: green;
  margin: 5px;
  padding: 0.5rem;
  font-size: 12px;
}

.input_focus {
  border: 1px solid red;
}

.focus {
  border: 1px solid #1a73e8;

}

.account-page .main-wrapper .account-content .account-logo img {
  width: 168px;
  margin-bottom: 22px;
}


.account-page .main-wrapper .account-content .account-box .account-btn {
  background-image: linear-gradient(to bottom right, #37D5D6, #36096D);

}

.header {
  background: #f6f8fc
}

#hambtn {
  color: #5F6368;
}

#toggle_btn {
  border-radius: 10px;
}


.rounded-circle:hover {
  background-color: #ced4da;
  text-align: center;
  height: 45px;
  width: 48px;
}
.header .user-menu.nav > li.flag-nav .dropdown-menu .dropdown-item {
  color: #171717;
  padding: 5px 15px;
  line-height: 1.5;
}
.rounded-circle:active {
  background-color: #ced4da;
  text-align: center;
  height: 45px;
  width: 48px;
}

.fa-search {
  color: #5f6368;
}

#faitem {
  color: #9a9ea4;
  border-radius: 50%;
}

.header .header-new-menu {
  float: left;
  display: flex;
  position: relative;
  list-style: none;
  margin: 0 0 0 30px;
  padding: 0;
  line-height: 60px;
}

.header .header-new-menu li a {
  color: #464F58; 
  font-weight: 600;
  font-size: 14px;
  position: relative;
  padding: 0 15px;
}
.notifications .notification-list li a:hover{
  box-shadow: inset 1px 0 0 #dadce0,inset -1px 0 0 #dadce0,0 1px 2px 0 rgba(60,64,67,.3),0 1px 3px 1px rgba(60,64,67,.15);
  z-index: 2;
}

.header-new-menu .dropdown-menu {
  line-height: 2.5;
}
.header .has-arrow .dropdown-toggle::after{
  border-color: #38414A;
}
#headerNewMenu .fa-angle-down{
  padding-left: 5px;
  font-size: 12px;
  font-weight: bold;
}
.sidebar{
  background-color: #f6f8fc;
  color: black;
}
.sidebar .sidebar-menu ul ul a.active,
.two-col-bar .sidebar-menu ul ul a.active{
 color: #38414A;
}
.sidebar .sidebar-menu ul li a:hover, .two-col-bar .sidebar-menu ul li a:hover{
  background-color: rgba(32,33,36,0.059);;
}
.sidebar .sidebar-menu ul li a:focus, .two-col-bar .sidebar-menu ul li a:focus{
  background-color: #D3E3FD;
}




 




@media (max-width: 950px) and (min-width: 600px) {
  
  .account-page .main-wrapper .account-content .col-xs{
    padding: 8rem 0;
  }
}

@media (min-width: 950px){
  
  .account-page .main-wrapper .account-content .col-xs{
    padding: 3rem 0;
  }
}


@media (max-width: 991px) {
  
   #headerNewMenu{
       display: none;
  } 
}
@media (min-width: 992px) and (max-width : 1191px) {

 #searchbar{
      display: none;
  }  
}
@media (max-width: 991px){
  i.fa.fa-search{
      display: none;
  }
  #toggle_btn{
    display: none;
  }
  .fa-bars{
    color: #38414A;

  }
}

/*
  .header .user-menu.nav > li > a i {
    font-size: 20px;
    line-height: 40px;
  }
  #faitem:hover{
    background-color: #ced4da;
  }

  #faitem :focus{
    background-color: #ced4da;
  
  } */
/* #flagname{
    color:#001d35;
  }
  .header .user-menu.nav > li > a .badge {
    color: #5f6368;
    font-weight: 700;
    background-color:#eaf1fb;  
  }
.headerli{
    position: relative;

}
.header-new-menu a{
    color:#fff;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: red;
  }
  .dropdown-menu.show {
    position: absolute;
    inset: 0px auto auto 0px;
    margin: 0px;
   transform: translate3d(0px, 42px, 0px); */
/* display: block;
  background-color: #fff;
}
.header .header-new-menu li a.dropdown-item {
    line-height: 30px;
}
.header .header-new-menu li link {
    
    font-weight: 600;
    font-size: 15px;
    position: relative;
    padding: 0 20px;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1rem;
    clear: both;
    font-weight: 400; */


/* color: black;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}


#dropitem{
    background-color: white;
    color :black;
    
} */

/* @media (max-width: 991px) {
    
    *{
        box-sizing: border-box;
    }
    #headerNewMenu{

         display: none;
    } 
}
@media (min-width: 992px) and (max-width : 1180px) {
     */
/* #searchbar{
        display: none;
    }  
}
@media (max-width: 991px){
    i.fa.fa-search{
        display: none;
    }
    #toggle_btn{
      display: none;
    }
}

.sidebar, .two-col-bar {
   
    background-color:#f6f8fc ;
  

} */
/* 
.sidebar .sidebar-menu ul li a, .two-col-bar .sidebar-menu ul li a {
    font-size: 15px;
    color: #292a2d;
  }
  .sidebar .sidebar-menu ul ul a.active, .two-col-bar .sidebar-menu ul ul a.active {
    color: #001d35;
    text-decoration: underline;
 }
  .sidebar .sidebar-menu ul li.submenu .noti-dot::before, .two-col-bar .sidebar-menu ul li.submenu .noti-dot::before {

    border: 5px solid #001d35;
    background-color: #001d35;
    display: none;

  }
  .sidebar .sidebar-menu ul li a:focus, .two-col-bar .sidebar-menu ul li a:focus {
     background-color: #d3e3fd;
  }
  .sidebar .sidebar-menu ul li a:hover, .two-col-bar .sidebar-menu ul li a:hover {
   background-color:#dee2e6;
   color: #292a2d;
  }
  .submenu ul li a{
    font-family: "Google Sans",Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    font-size: .875rem;
    letter-spacing: normal;
    color: #202124;
    text-shadow: none;
  } */

/* Register_form */
/*
  

.add-btn:focus{
  background-color: #d0d3d7;
}
.add-btn:hover{
  background-color:#dee2e6;
  color: #292a2d;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: #c2e7ff;
}
.page-item.active .page-link {
  background-color: #adb5bd;
  border-color: #c6c6c6;
}
.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: #adb5bd;
  border-color: #c6c6c6;
  color: black;
}
#mpslip{
  background-color: #f6f8fc;
border: 1px solid #292a2d;
color: #1f1f1f;
cursor: pointer;
display: inline-block;
font-size: 14px;
font-weight: 600;
height: 44px;
letter-spacing: 1px;
line-height: 44px;
margin-right: 10px;
padding: 0 25px;
text-decoration: none;
text-transform: uppercase;
}
#mpslip:hover{
background-color: #c6c6c6;
}
#pay_slip{
  color: #1f1f1f;
  margin-bottom: 25px;
  height: 44px;
padding: 0 12.5px;
min-width: 300px;
width: 540px;
border: 1px solid #292a2d;

display: block;
margin-bottom: 6.25px;
}

#slip_p{
  margin-top: 15px;
}
.add-btn{
background-color: #f6f8fc;
border: 1px solid #212529;
color: #292a2d;
float: right;
font-weight: 500;
min-width: 140px;
border-radius: 50px;
}